{% extends "base.html" %}
{% block title %}Activity Time Table{% endblock %}
{% block content %}
<h1></h1>
<table>
    <thead>
        <th>Activity</th>
        <th>Start</th>
        <th>End</th>
        <th>Location</th>
        <th>Availibilty</th>
    </thead>
{% for activity in data %}
<tr>
    <td>{{ activity.title }}</td>
    <td>{{ activity.startshort}}</td>
    <td>{{ activity.endshort }}</td>
    <td>{{ activity.facility }}</td>
    <td>{{ activity.available }}/{{ activity.capacity }}</td>
</tr>

{% endfor %}
</table>
{% endblock %}