
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="nav"><a href="{{ url_for('index') }}">Home</a> </div>
    <br>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2024 by <a href="">KW</a>.
        {% endblock %}
    </div>
</body>
</html>