{% extends "base.html" %}

{# This section sets the min/max hours displayed in the calendar based on the results. #}
{%- set ns = namespace(min_hour=9,max_hour=17) -%}
{% for e in data %}
{% if ((e.start.strftime('%H')|int) <= ns.min_hour) %}
{% set ns.min_hour = e.start.strftime('%H')|int %}
{% endif %}
{% if ((e.end.strftime('%H')|int) >= ns.max_hour) %}
{% set ns.max_hour = e.end.strftime('%H')|int +1 %}
{% endif %}
{% endfor %}

{% block head %}

<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
<script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>


<script>
    
colours = ["#09a825",
            "#ad1457",
            "#d84315",
            "#2e7d32",
            "#1565c0",
            "#0099CC",
            "#00695c",
            "#8e24aa",
            "#00bcd4",
            "#616161",
            "#d32f2f"
            ]
const locationskeys = {}
function locationColour(location){
    if (!(location in locationskeys))
    {
    	locationskeys[location] = colours[Object.keys(locationskeys).length % colours.length]
    }
    return locationskeys[location]
}

function cleanLocation(location,facility){
    return location.replace(facility + " - ","")

}

document.addEventListener('DOMContentLoaded', function() {

      const calendarEl = document.getElementById('calendar')
      const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
        height: 'auto',
        slotMinTime: '{{ '%02d' % ns.min_hour }}:00:00',
        slotMaxTime: '{{ '%02d' % ns.max_hour }}:00:00',
        //aspectRatio: 2,
        // eventDidMount: function(info) {
        //     var tooltip = new Tooltip(info.el, {
        //         title: info.event.extendedProps.description,
        //         placement: 'top',
        //         trigger: 'hover',
        //         container: 'body'
        //     });
        // },
      })

      

      {% for e in data %}
      calendar.addEvent({
                title: '{{e.title }}',
                start: '{{e.start}}',
                end: '{{e.end}}',
                location: cleanLocation('{{e.facility}}','{{facilityname.name}}'),
                description: '{{e.facility}}',
                backgroundColor: locationColour('{{e.facility}}')
      })
      {% endfor %}
      calendar.render()
      
       for (l in locationskeys) {
        line = "<div class='.container-sm' style='color:#fff;background-color:"+locationColour(l)+"'>"
        line += cleanLocation(l,'{{facilityname.name}}')
        line += "</div>"
         console.log(line)
        $('#locationskey').append(line)
       }

    })


  </script>
{% endblock %}
{% block title %}Event Time Table{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('facility', id=facility) }}">{{ facilityname.name }}</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{{ url_for('events_ical', id=facility, activity=activity, days=days) }}">ICAL link</a>
    </li>
    <li class="nav-item">
        <form method="get">
            {% for a in activity %}
            <input type="hidden" id="activity" name="activity" value="{{ a }}" />
            {% endfor %}
            <select id="days" name="days">
                {% for o in [1,3,7,14,30,60,90] %}
                <option {% if o == days %} selected {% endif %}>{{ o }}</option>
                {% endfor %}
            </select>
            <button type="submit">update</button>
        </form>
    </li>

{% endblock %}
{% block content %}



  <hr />
  
<div id='calendar'></div>
<div id="locationskey">
<div class="container text-center"><div class="row row-cols-auto" id="locationskey"><div class="col">Key:</div></div>
    

</div>
<hr />
<table>
    <thead>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Location</th>
        <th>Availibilty</th>
    </thead>
{% for e in data %}
<tr>
    <td>{{ e.title }}</td>
    <td>{{ e.startshort}}</td>
    <td>{{ e.endshort }}</td>
    <td>{{ e.facility }}</td>
    <td>{{ e.available }}/{{ e.capacity }}</td>
</tr>

{% endfor %}
</table>
{% endblock %}