{% extends "base.html" %}



{% block head %}

<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
<script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>


<script>

    document.addEventListener('DOMContentLoaded', function() {

      const calendarEl = document.getElementById('calendar')
      const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
        height: 'auto',
        aspectRatio: 2
        // eventDidMount: function(info) {
        //     var tooltip = new Tooltip(info.el, {
        //         title: info.event.extendedProps.description,
        //         placement: 'top',
        //         trigger: 'hover',
        //         container: 'body'
        //     });
        // },
      })

      {% for e in data %}
      calendar.addEvent({
                title: '{{e.title }}',
                start: '{{e.start}}',
                end: '{{e.end}}',
                location: '{{e.facility}}'
      })

      {% endfor %}
      calendar.render()
    })


  </script>
{% endblock %}
{% block title %}Event Time Table{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('facility', id=facility) }}">{{ facilityname.name }}</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{{ url_for('events_ical', id=facility, activity=activity, days=days) }}">ICAL link</a>
    </li>
    <li class="nav-item">
        <form method="get">
            {% for a in activity %}
            <input type="hidden" id="activity" name="activity" value="{{ a }}" />
            {% endfor %}
            <select id="days" name="days">
                {% for o in [1,3,7,14,30,60,90] %}
                <option {% if o == days %} selected {% endif %}>{{ o }}</option>
                {% endfor %}
            </select>
            <button type="submit">update</button>
        </form>
    </li>

{% endblock %}
{% block content %}



  <hr />
  
<div id='calendar'></div>
<hr />
<table>
    <thead>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Location</th>
        <th>Availibilty</th>
    </thead>
{% for e in data %}
<tr>
    <td>{{ e.title }}</td>
    <td>{{ e.startshort}}</td>
    <td>{{ e.endshort }}</td>
    <td>{{ e.facility }}</td>
    <td>{{ e.available }}/{{ e.capacity }}</td>
</tr>

{% endfor %}
</table>
{% endblock %}