{% extends "base.html" %}
{% block title %}Event Time Table{% endblock %}
{% block content %}
<h1></h1>

<p>Back to <a href="{{ url_for('facility', id=facility) }}">{{ facility }}</a></p>
<p>ICAL link: <a href="{{ url_for('events_ical', id=facility, activity=activity, days=days) }}">calendar</a></p>

<table>
    <thead>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Location</th>
        <th>Availibilty</th>
    </thead>
{% for e in data %}
<tr>
    <td>{{ e.title }}</td>
    <td>{{ e.startshort}}</td>
    <td>{{ e.endshort }}</td>
    <td>{{ e.facility }}</td>
    <td>{{ e.available }}/{{ e.capacity }}</td>
</tr>

{% endfor %}
</table>
{% endblock %}